Source: ros-rolling-ortools-vendor
Section: misc
Priority: optional
Maintainer: Gonzalo Mier <gonzalo.miermunoz@wur.nl>
Build-Depends: debhelper (>= 9.0.0), git, ros-rolling-ament-cmake, ros-rolling-ament-cmake-vendor-package, ros-rolling-ament-cmake-xmllint <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ros-workspace
Homepage: https://github.com/google/or-tools
Standards-Version: 3.9.2

Package: ros-rolling-ortools-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: Wrapper around ortools, it provides a fixed CMake module and an ExternalProject build of it.
